.card {
	border: 1px solid #eee;
	margin: 20px;
	margin-top: 40px;
}
.card .card-img-top {
	width: calc(100% + 50px);
	margin: -25px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}
.card .card-block {
	margin-top: 25px;
    padding: 1.25rem;
}
